[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
